@font-face {
  font-family: "Aktiv Grotesk";
  src: url("./fonts/AktivGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Aktiv Bold";
  src: url("./fonts/AktivGrotesk-Bold.ttf") format("truetype");
}

#root {
  --_spacer: 8px;
  --_spacer3: 16px;
  --_spacer2: 32px;
  width: 100vw;
  margin: 0 auto;
  text-align: start;
  justify-content: center;
  background-color: F4F9FC;
}

.App {
  -webkit-perspective: 800px;
  perspective: 800px;
  position: relative;
  transition: 1s;
  background-color: #f4f9fc;
}

.App:hover {
  -webkit-perspective: 800px;
  perspective: 800px;
  transition: 1s;
  transform: rotateY(45deg);
}

/*Full-screen view*/
.extended-view {
  margin: 0 var(--_spacer2);
  top: 0;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/*Scrollable card list*/
.scrollable-timeline {
  padding: var(--_spacer);

  /*grid control*/
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  gap: var(--_spacer);

  overflow-x: hidden;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  outline: none;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 2rem);
}

.snaps-inline > * {
  scroll-snap-align: center;
}

.cardLine {
  width: 2px;
  height: 100%;
  background-color: #202e39;
  z-index: -1;
  margin-left: 0px;
  position: relative;
}

.cardLineContainer {
  height: 100%;
  position: relative;
}

.card {
  /*temporary
  border: 3px solid limegreen;*/

  position: relative;
  align-items: flex-start;
  flex-direction: column;

  padding: var(--_spacer3);
  outline: none;
  top: var(--_spacer3);
}

.MuiCardContent-root {
  padding: 0 !important;
}

.card:hover {
  box-shadow: 0 0 15px 5px black;
  transition: 0.1s;
}

.cardImg {
  border-radius: 2px;
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.arrowSelector {
  filter: drop-shadow(3px 0px 3px black);
  position: absolute;
}

/*Beeline*/

.beeline {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 34px;
  padding: 0 var(--_spacer2);
}
.beeline:hover {
  filter: drop-shadow(0 -10px 35px black);
  height: 64px;
  transition: 0.3s;
}

.beePointMiddle:hover > .beePointDate {
  padding-left: 10px;
  display: inline-block;
}

.beePointMiddle {
  /*temporary */
  position: relative;
  width: 1px;
  background-color: gray;
  /*rgba(192, 192, 192, 0.5)*/
}

.beePointMiddle:hover {
  background-color: gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.selectedBeePoint {
  position: relative;
  width: 2px;
  background-color: white;
  border-bottom-color: white;
  border-left: 1px solid white;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: white;
}

.beePointContainer {
  width: 20px;
}

/*Default classes*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes moveOrigin {
  from {
    -webkit-perspective-origin: left;
    perspective-origin: left;
  }

  to {
    -webkit-perspective-origin: right;
    perspective-origin: right;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.MuiButton-root {
  background-color: #29abe3;
}

.drawerButton:focus {
  outline: none;
}
